<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/circle.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0",user-scalable=yes>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <img src="/assets/images/megane.png">
</header>
    <img class="topimg" src="/assets/images/img1.JPG">
<div class="contents">
    <p class="midashi">ドラゴンズ</p>
    <div class="tags">
        <div class="tag tag1">
            <div class="tagmaru tagmaru1"></div>
            <p>スポーツ</p>
        </div>
        <div class="tag tag2">
            <div class="tagmaru tagmaru1"></div>
            <p>バスケ</p>
        </div>
    </div>
<div class="kihon_info">
   <p>基本情報</p>
    <table>
        <tr class="colorcell" align="center"><td>人数</td><td>600人</td></tr>
        <tr align="center"><td>場所</td><td>日吉中学</td></tr>
        <tr class="colorcell" align="center"><td>入サー費</td><td>5000円</td></tr>
        <tr align="center"><td>活動日</td><td>月・木</td></tr>
        <tr class="colorcell" align="center"><td>本気度</td><td>●●●●●</td></tr>
    </table>
</div>
</div>

    <div id="cells">
        <div class="cell cell1">
            <p>詳細</p>
        </div>
        <div class="cell cell2">
            <p>雰囲気</p>
        </div>
        <div class="cell cell3">
            <p>メディア</p>
        </div>
        <div class="cell cell4">
            <p>記事</p>
        </div>
    </div>
    <div class="article article1">
        <table>
            <tr class="colorcell_2"><th>メールアドレス</th><td>dragons@gmail.com</td></tr>
            <tr><th>団体名</th><td>ドラゴンズ</td></tr>
            <tr class="colorcell_2"><th>団体名の略称・通称</th><td>ドラゴ</td></tr>
            <tr><th>団体の所属</th><td>あり</td></tr>
            <tr class="colorcell_2"><th>人数（人）</th><td>60</td></tr>
            <tr><th>女子の人数（人）</th><td>24</td></tr>
            <tr class="colorcell_2"><th>公式メールアドレス</th><td>doragons_info@gmail.com</td></tr>
            <tr><th>公式ツイッターアカウント</th><td>@dragons_info</td></tr>
            <tr class="colorcell_2"><th>ホームページ</th><td>dragons.com</td></tr>
            <tr><th>YouTube</th><td>youtube.com</td></tr>
            <tr class="colorcell_2"><th>Instagramなどその他アカウント</th><td>なし</td></tr>
            <tr><th>本部キャンパス</th><td>日吉</td></tr>
            <tr class="colorcell_2"><th>活動場所</th><td>日吉体育館</td></tr>
            <tr><th>三田祭（文化祭参加有無）</th><td>有り</td></tr>
            <tr class="colorcell_2"><th>三田祭で何をしたか</th><td>試合</td></tr>
            <tr><th>インカレサークルか</th><td>はい</td></tr>
            <tr class="colorcell_2"><th>活動日</th><td>月・木</td></tr>
            <tr><th>活動内容</th><td>バスケ</td></tr>
            <tr class="colorcell_2"><th>活動経歴</th><td>試合</td></tr>
            <tr><th>スポンサー</th><td>なし</td></tr>
            <tr class="colorcell_2"><th>活動日程</th><td>月・木</td></tr>
        </table>
    </div>
    <div class="article article2">
      <div id="gray"></div>
       <div class="nomi">
        <p>飲み頻度</p>
       <div class="koumoku">
        <div class="maru">1</div>
        <div class="maru big">2</div>
        <div class="maru">3</div>
        <div class="maru">4</div>
        <div class="maru">5</div>
        </div>
        <p>飲み激しさ</p>
        <div class="koumoku">
        <div class="maru">1</div>
        <div class="maru">2</div>
        <div class="maru">3</div>
        <div class="maru big">4</div>
        <div class="maru">5</div>
        </div>
        </div>
        <div class="couple">
        <p>サークル内カップル</p>
       <div class="koumoku">
        <div class="maru">1</div>
        <div class="maru big">2</div>
        <div class="maru">3</div>
        <div class="maru">4</div>
        <div class="maru">5</div>
        </div>
        <p>イケメン・美女比率</p>
        <div class="koumoku">
        <div class="maru">1</div>
        <div class="maru">2</div>
        <div class="maru">3</div>
        <div class="maru">4</div>
        <div class="maru big">5</div>
        </div>
        </div>
        <div class="study">
        <p>真面目度</p>
       <div class="koumoku">
        <div class="maru">1</div>
        <div class="maru big">2</div>
        <div class="maru">3</div>
        <div class="maru">4</div>
        <div class="maru">5</div>
        </div>
        <p>本気度</p>
        <div class="koumoku">
        <div class="maru">1</div>
        <div class="maru">2</div>
        <div class="maru big">3</div>
        <div class="maru">4</div>
        <div class="maru">5</div>
        </div>
        <p>過去問力</p>
       <div class="koumoku">
        <div class="maru">1</div>
        <div class="maru big">2</div>
        <div class="maru">3</div>
        <div class="maru">4</div>
        </div>
        </div>
        <div class="syusyoku">
        <p>就職</p>
       <div class="koumoku">
        <div class="maru big">強い</div>
        </div>
        <p class="sub sub1">ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります</p>
        </div>
        <div class="sugoi">
        <p>この団体のすごいやつ</p>
        <p class="sub">ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります</p>
        <p>学部の割合</p>
        <p class="sub">ここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入りますここに文章が入ります</p>
        </div>
    </div>
    <div class="article article3">
      <div class="uls">
       <ul>
           <li><img src="/assets/images/img1.JPG"></li>
           <li><img src="/assets/images/img1.JPG"></li>
           <li><img src="/assets/images/img1.JPG"></li>
           <li><img src="/assets/images/img1.JPG"></li>
           <li><img src="/assets/images/img1.JPG"></li>
           <li><img src="/assets/images/img1.JPG"></li>
           <li><img src="/assets/images/img1.JPG"></li>
           <li><img src="/assets/images/img1.JPG"></li>
       </ul>
       </div>
    </div>
    <div class="article article4">
        <p class="a4_midashi">POWERED BY 慶應塾生新聞</p>
        <div class="news">
            <img src="/assets/images/img1.JPG">
            <div class="bunsyou">
                <p class="a4_title">記事のタイトル</p>
                <p class="a4_date">2019/12/24</p>
                <p class="a4_kiji">記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容</p>
            </div>
        </div>
        <div class="news">
            <img src="/assets/images/img1.JPG">
            <div class="bunsyou">
                <p class="a4_title">記事のタイトル</p>
                <p class="a4_date">2019/12/24</p>
                <p class="a4_kiji">記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容</p>
            </div>
        </div>
        <div class="news">
            <img src="/assets/images/img1.JPG">
            <div class="bunsyou">
                <p class="a4_title">記事のタイトル</p>
                <p class="a4_date">2019/12/24</p>
                <p class="a4_kiji">記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容</p>
            </div>
        </div>
        <div class="news">
            <img src="/assets/images/img1.JPG">
            <div class="bunsyou">
                <p class="a4_title">記事のタイトル</p>
                <p class="a4_date">2019/12/24</p>
                <p class="a4_kiji">記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容</p>
            </div>
        </div>
        <div class="news">
            <img src="/assets/images/img1.JPG">
            <div class="bunsyou">
                <p class="a4_title">記事のタイトル</p>
                <p class="a4_date">2019/12/24</p>
                <p class="a4_kiji">記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容記事の内容</p>
            </div>
        </div>
    </div>

<script src="/assets/js/circle.js"></script>
</body>
</html>