<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>KEICIR</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0",user-scalable=yes>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/jquery.flurry.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <img src="/assets/images/megane.png">
</header>
  <div id="square"></div>
   <div class="container">
   <a href="/post">
    <div class="content">
        <img src="/assets/images/img1.JPG">
        <h2>ドラゴンズ</h2>
    <div class="tags">
        <div class="tag tag1">
            <div class="tagmaru tagmaru1"></div>
            <p>スポーツ</p>
        </div>
        <div class="tag tag2">
            <div class="tagmaru tagmaru1"></div>
            <p>バスケ</p>
        </div>
    </div>
        <p class="hitokoto">慶応で一番規模の大きいバスケットサークルです！</p>
    </div>
    </a>
    <div class="content">
        <img src="/assets/images/img2.jpg">
        <h2>softboloers</h2>
        <div class="tags">
        <div class="tag tag1">
            <div class="tagmaru tagmaru1"></div>
            <p>スポーツ</p>
        </div>
        <div class="tag tag2">
            <div class="tagmaru tagmaru1"></div>
            <p>バスケ</p>
        </div>
    </div>
        <p class="hitokoto">ソフトボールやりたい人集合！</p>
    </div>
    <div class="content">
        <img src="/assets/images/img3-min.jpg">
        <h2>livers</h2>
        <div class="tags">
        <div class="tag tag1">
            <div class="tagmaru tagmaru1"></div>
            <p>スポーツ</p>
        </div>
        <div class="tag tag2">
            <div class="tagmaru tagmaru1"></div>
            <p>バスケ</p>
        </div>
    </div>
        <p class="hitokoto">僕たちと一緒にライブしませんか？</p>
    </div>
    <div class="content">
        <img src="/assets/images/img4-min.jpg">
        <h2>写真家</h2>
        <div class="tags">
        <div class="tag tag1">
            <div class="tagmaru tagmaru1"></div>
            <p>スポーツ</p>
        </div>
        <div class="tag tag2">
            <div class="tagmaru tagmaru1"></div>
            <p>バスケ</p>
        </div>
    </div>
        <p class="hitokoto">おしゃれな写真を撮りたい人へ</p>
    </div>
    </div>

    <script src="/assets/js/script.js"></script>
</body>
</html>
